
<div class="container m-t">
  <div class="row">
    <div class="col-xs-12 text-center">
      <a href="/candidature/candidatures.html" class="btn btn-primary pull-left">Liste</a>
      <a href="/candidature/form.html" class="btn btn-primary">Form</a>
      <a href="/home/connexion.html" class="btn btn-primary pull-right">Admin</a>
    </div>
  </div>
</div>
