<div class="wrapper-menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group pull-right">
            <a href="/candidature/candidatures.html" class="btn btn-default pull-left">Accueil</a>
            <a href="/candidature/form.html" class="btn btn-default">Inscription</a>
          </div>
          <a href="/home/connexion.html" class="text-primary pull-left">Connexion</a>
        </div>
      </div>
    </div>
</div>
