<div id="top-header">
  <div class="container clearfix">
    <div id="et-secondary-menu">
      <ul class="et-social-icons">
        <li class="et-social-icon et-social-facebook">
          <a href="https://fr-fr.facebook.com/mavoixjuin2017/" class="icon">
            <span>Facebook</span>
          </a>
        </li>
        <li class="et-social-icon et-social-twitter">
          <a href="https://twitter.com/mavoix2017" class="icon">
            <span>Twitter</span>
          </a>
        </li>
        <li class="et-social-icon et-social-rss">
          <a href="http://beta.mavoix.info/website/feed/" class="icon">
            <span>RSS</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- #et-secondary-menu -->
  </div>
  <!-- .container -->
</div>
<header id="main-header" data-height-onload="80" data-height-loaded="true" data-fixed-height-onload="54" style="top: 35px;">
  <div class="container clearfix et_menu_container">
    <div class="logo_container">
      <span class="logo_helper">
      </span>
      </div>
      <div id="et-top-navigation" data-height="66" data-fixed-height="40" style="padding-left: 30px;">
        <nav id="top-menu-nav">
          <ul id="top-menu" class="nav">
            <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-37 current_page_item menu-item-55">
              <a href="http://beta.mavoix.info/website/">Accueil</a>
            </li>
            <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165">
              <a href="http://beta.mavoix.info/website/decouvrir/">Découvrir</a>
            </li>
            <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-164">
              <a href="http://beta.mavoix.info/website/comprendre/">Comprendre</a>
              <ul class="sub-menu">
                <li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175">
                  <a href="http://beta.mavoix.info/website/comprendre/qui-sommes-nous/">L’ADN de #MaVoix</a>
                </li>
                <li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-187">
                  <a href="http://beta.mavoix.info/website/comprendre/la-methode/">La méthode #MaVoix</a>
                </li>
                <li id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274">
                  <a href="http://beta.mavoix.info/website/comprendre/mavoix-et-les-medias/">#MaVoix et les médias</a>
                </li>
                <li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406">
                  <a href="http://beta.mavoix.info/website/comprendre/mavoix-et-les-autres-partismouvements-politiques/">#MaVoix et les autres partis/mouvements politiques</a>
                </li>
                <li id="menu-item-373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373">
                  <a href="http://beta.mavoix.info/website/comprendre/mooc-formations-en-ligne/">Les MOOC #MaVoix</a>
                </li>
                <li id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370">
                  <a href="http://beta.mavoix.info/website/comprendre/prises-de-parole/">Les prises de parole #MaVoix</a>
                </li>
                <li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178">
                  <a href="http://beta.mavoix.info/website/comprendre/foire-aux-questions/">Questions fréquentes</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-57">
              <a href="http://beta.mavoix.info/website/comment-participer/">Contribuer</a>
              <ul class="sub-menu">
                <li id="menu-item-369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369">
                  <a href="http://beta.mavoix.info/website/comment-participer/rencontres-partout-en-france/">Rencontres partout en France</a>
                </li>
                <li id="menu-item-356" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356">
                  <a href="http://beta.mavoix.info/website/comment-participer/reunions-hangout-mavoix/">Réunions Hangout</a>
                </li>
                <li id="menu-item-371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371">
                  <a href="http://beta.mavoix.info/website/comment-participer/forum-en-ligne/">Forum en ligne</a>
                </li>
                <li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372">
                  <a href="http://beta.mavoix.info/website/comment-participer/reseaux-sociaux/">Réseaux sociaux</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234">
              <a href="http://beta.mavoix.info/website/financer/">Financer</a>
            </li>
            <li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-144">
              <a href="http://beta.mavoix.info/website/ressources-utiles/">Ressources utiles</a>
              <ul class="sub-menu">
                <li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-401">
                  <a href="http://beta.mavoix.info/website/ressources-utiles/mavoix-dans-la-presse/">#MaVoix dans la presse</a>
                </li>
                <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403">
                  <a href="http://beta.mavoix.info/website/ressources-utiles/wiki/">Wiki</a>
                </li>
                <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402">
                  <a href="http://beta.mavoix.info/website/ressources-utiles/forum/">Forum</a>
                </li>
              </ul>
            </li>
            <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
              <a href="http://beta.mavoix.info/website/contact/">Contact</a>
            </li>
          </ul>
        </nav>
        <div id="et_top_search">
          <span id="et_search_icon">
          </span>
        </div>
        <div id="et_mobile_nav_menu">
          <div class="mobile_nav closed">
            <span class="select_page">Select Page</span>
            <span class="mobile_menu_bar mobile_menu_bar_toggle">
            </span>
            <ul id="mobile_menu" class="et_mobile_menu">
              <li id="menu-item-55" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-37 current_page_item menu-item-55 et_first_mobile_item">
                <a href="http://beta.mavoix.info/website/">Accueil</a>
              </li>
              <li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165">
                <a href="http://beta.mavoix.info/website/decouvrir/">Découvrir</a>
              </li>
              <li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-164">
                <a href="http://beta.mavoix.info/website/comprendre/">Comprendre</a>
                <ul class="sub-menu">
                  <li id="menu-item-175" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175">
                    <a href="http://beta.mavoix.info/website/comprendre/qui-sommes-nous/">L’ADN de #MaVoix</a>
                  </li>
                  <li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-187">
                    <a href="http://beta.mavoix.info/website/comprendre/la-methode/">La méthode #MaVoix</a>
                  </li>
                  <li id="menu-item-274" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274">
                    <a href="http://beta.mavoix.info/website/comprendre/mavoix-et-les-medias/">#MaVoix et les médias</a>
                  </li>
                  <li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406">
                    <a href="http://beta.mavoix.info/website/comprendre/mavoix-et-les-autres-partismouvements-politiques/">#MaVoix et les autres partis/mouvements politiques</a>
                  </li>
                  <li id="menu-item-373" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-373">
                    <a href="http://beta.mavoix.info/website/comprendre/mooc-formations-en-ligne/">Les MOOC #MaVoix</a>
                  </li>
                  <li id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-370">
                    <a href="http://beta.mavoix.info/website/comprendre/prises-de-parole/">Les prises de parole #MaVoix</a>
                  </li>
                  <li id="menu-item-178" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178">
                    <a href="http://beta.mavoix.info/website/comprendre/foire-aux-questions/">Questions fréquentes</a>
                  </li>
                </ul>
              </li>
              <li id="menu-item-57" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-57">
                <a href="http://beta.mavoix.info/website/comment-participer/">Contribuer</a>
                <ul class="sub-menu">
                  <li id="menu-item-369" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-369">
                    <a href="http://beta.mavoix.info/website/comment-participer/rencontres-partout-en-france/">Rencontres partout en France</a>
                  </li>
                  <li id="menu-item-356" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-356">
                    <a href="http://beta.mavoix.info/website/comment-participer/reunions-hangout-mavoix/">Réunions Hangout</a>
                  </li>
                  <li id="menu-item-371" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-371">
                    <a href="http://beta.mavoix.info/website/comment-participer/forum-en-ligne/">Forum en ligne</a>
                  </li>
                  <li id="menu-item-372" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-372">
                    <a href="http://beta.mavoix.info/website/comment-participer/reseaux-sociaux/">Réseaux sociaux</a>
                  </li>
                </ul>
              </li>
              <li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-234">
                <a href="http://beta.mavoix.info/website/financer/">Financer</a>
              </li>
              <li id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-144">
                <a href="http://beta.mavoix.info/website/ressources-utiles/">Ressources utiles</a>
                <ul class="sub-menu">
                  <li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-401">
                    <a href="http://beta.mavoix.info/website/ressources-utiles/mavoix-dans-la-presse/">#MaVoix dans la presse</a>
                  </li>
                  <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403">
                    <a href="http://beta.mavoix.info/website/ressources-utiles/wiki/">Wiki</a>
                  </li>
                  <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402">
                    <a href="http://beta.mavoix.info/website/ressources-utiles/forum/">Forum</a>
                  </li>
                </ul>
              </li>
              <li id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139">
                <a href="http://beta.mavoix.info/website/contact/">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- #et-top-navigation -->
    </div>
    <!-- .container -->
    <div class="et_search_outer">
      <div class="container et_search_form_container">
        <form role="search" method="get" class="et-search-form" action="http://beta.mavoix.info/website/">
          <input type="search" class="et-search-field" placeholder="Search …" value="" name="s" title="Search for:">
          </form>
          <span class="et_close_search_field">
          </span>
        </div>
      </div>
    </header>
    <div class="container m-t">
      <div class="row">
        <div class="col-xs-12 text-center">
          <a href="/candidature/candidatures.html" class="btn btn-primary pull-left">Liste</a>
          <a href="/candidature/form.html" class="btn btn-primary">Form</a>
          <a href="/home/connexion.html" class="btn btn-primary pull-right">Admin</a>
        </div>
      </div>
    </div>
