<div class="wrapper-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 text-left">
                <a href="javascript:void(0);" class="click-send-ajax pull-left text-primary" data-url="/home/deconnexion.json">Déconnexion</a>
            </div>

            <div class="col-xs-12 col-md-4 text-center">
                    <a href="/candidature/list.html" class="btn btn-default">Administration</a>
            </div>

            <div class="col-xs-12 col-md-4 text-right">
                <div class="btn-group ">
                    <a href="/candidature/candidatures.html" class="btn btn-default pull-left">Accueil</a>
                    <a href="/candidature/form.html" class="btn btn-default">Inscription</a>
                </div>
            </div>
        </div>
    </div>
</div>