<form action="/home/deconnexion.json" id="formconnexion" method="post" autocomplete="off" data-ajax="true" >
    <div class="container m-t">
        <div class="row">
            <div class="col-xs-12"><button type="submit" class="btn btn-primary pull-right">Déconnexion</button></div>
        </div>
    </div>
</form>