<nav class="navbar  navbar-default navbar-fixed-top topmenu">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="logo" href="http://mavoix.info">
        <img src="/css/images/logo.png"/>
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/candidature/form.html">Formulaire</a>
        </li>
        <li>
          <a href="/candidature/list.html">Validation <span class="hidden-sm">des candidatures</span></a>
        </li>
        <li>
          <a href="/candidature/candidatures.html">Candidatures en ligne</a>
        </li>
        <li>
          <a href="/candidature/candidats-tire-au-sort.html">Candidatures tiré au sort</a>
        </li>
        <li>
          <a href="/candidature/map-leaflet.html">Carte</a>
        </li>
        <li>
          <a href="javascript:void(0);" class="click-send-ajax  text-primary" data-url="/home/deconnexion.json">Déconnexion</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
