<!-- <div class="wrapper-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 text-left">
                <a href="javascript:void(0);" class="click-send-ajax pull-left text-primary" data-url="/home/deconnexion.json">Déconnexion</a>
            </div>

            <div class="col-xs-12 col-md-4 text-center">
                    <a href="/candidature/list.html" class="btn btn-default">Validation des candidatures</a>
            </div>

            <div class="col-xs-12 col-md-4 text-right">
                <div class="btn-group ">
                    <a href="/candidature/candidatures.html" class="btn btn-default pull-left">Accueil</a>
                    <a href="/candidature/form.html" class="btn btn-default">Inscription</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="topmenu">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" id="logo" href="http://mavoix.info">
        <img src="/css/images/logo.png"/>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/candidature/form.html">Formulaire</a>
        </li>
        <li>
          <a href="/candidature/list.html">Validation des candidatures</a>
        </li>
        <li>
          <a href="/candidature/candidatures.html">Candidatures en ligne</a>
        </li>
        <li>
          <a href="javascript:void(0);" class="click-send-ajax pull-left text-primary" data-url="/home/deconnexion.json">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</div>
