{% extends "visitor/base.html.twig" %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <form action="/candidature/save.json" id="formcandidature" method="post" autocomplete="off" data-ajax="true"
                          enctype="multipart/form-data">
                        <h1>CANDIDATURE MAVOIX</h1>
                        <hr />
                        <div class="form-group">
                            <label for="nom" class="control-label">Nom : *</label>
                            <input type="text" class="form-control" id="nom" name="nom"
                                   placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="prenom" class="control-label">Prénom :</label>
                            <input type="text" class="form-control" id="prenom" name="prenom"
                                   placeholder="Prénom ">
                        </div>
                        <div class="form-group">
                            <label for="cp" class="control-label">Code postal :</label>
                            <input type="text" class="form-control" id="cp" name="cp"
                                   placeholder="XXXXXX">
                        </div>
                        <div class="form-group">
                            <label for="ville" class="control-label">Ville :</label>
                            <input type="text" class="form-control" id="ville" name="ville"
                                   placeholder="Nom de la ville">
                        </div>

                        <div class="form-group">
                            <label for="imagefile" class="control-label">Une Photo :</label>
                            <div class="drop-zone"></div>
                            <div class="input-group image-preview">
                                <input type="file" accept="image/jpeg" name="image" id="imagefile"/>
                                <input type="hidden" id="imageData" name="imageData"/>
                                <input type="hidden" id="imageFilename" name="imageFilename"/>
                                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default image-preview-clear"
                                            style="display:none;">
                                        <span class="fa fa-times"></span>
                                    </button>

                                    <div class="btn btn-default image-preview-input">
                                        <span class="fa fa-folder-open"></span>
                                        <span class="image-preview-input-title">Choisir</span>
                                        <input type="hidden" name="MAX_FILE_SIZE" value="{{ maxFilesize }}"/>

                                    </div>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="presentation" class="control-label">Texte de présentation :</label>
                            <textarea class="form-control" rows="5" id="presentation"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="video" class="control-label">Lien vidéo : </label>
                            <div class="input-group">
                                <div class="input-group-addon">http://</div>
                                <input type="text" class="form-control" id="tel" name="tel" placeholder="lienversvotrevideo.com">
                            </div>
                            <p class="help-block form-text text-muted" >
                                Youtube, Vimeo ou Dailymotion</p>
                        </div>

                        <button type="submit" class="btn btn-primary pull-right">Envoyer ma candidature</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}