<html><body>
<div id="mapdiv"></div>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script>
    map = new OpenLayers.Map("mapdiv");
    map.addLayer(new OpenLayers.Layer.OSM());

    var center = new OpenLayers.LonLat( {{ candidatures[0].lng  }} ,{{ candidatures[0].lat  }} )
        .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
        );

    var zoom=8;

    var markers = new OpenLayers.Layer.Markers( "Markers" );


    {% for candidature in candidatures %}
        markers.addMarker(new OpenLayers.Marker(new OpenLayers.LonLat( {{ candidature.lng  }} ,{{ candidature.lat }} ).transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject())) // to Spherical Mercator Projection
        );
    {%  endfor %}
    map.addLayer(markers);

    map.setCenter (center, zoom);
</script>

</body></html>