html{
    height:100%;
}
body{
    height:100%;
    font-size: 18px;
}

#loading{
    z-index:100000;
    display:none;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.6);
}
#loading.show{
    display:block;
}
.error{
    top:50px;
    left:0;
    background-color:#ffffff;
    padding:10px;
    border:4px solid #000000;
    position:absolute;
    width:400px;
    margin:20px 20px;
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
}

.loading-display{
    background-color:#ffffff;
    border-radius:5px;
    width:280px;
    height:130px;
    position:absolute;
    margin-left:-140px;
    margin-top:-65px;
    left:50%;
    top:50%;
    text-align:center;
    padding:25px 10px 10px 10px;
}



.toast {
    opacity: 1 !important;
}

.m-t-0{
    margin-top:0;
}

.m-t{
    margin-top:15px;
}

.m-t-x2{
    margin-top:30px;
}

.m-t-x3{
    margin-top:45px;
}

.m-t-x4{
    margin-top:60px;
}

.m-b-0{
    margin-bottom:0;
}

.m-b{
    margin-bottom:15px;
}

.m-b-x2{
    margin-bottom:30px;
}

.m-b-x3{
    margin-bottom:45px;
}

.m-b-x4{
    margin-bottom:60px;
}


.p-t-0{
    padding-top:0;
}

.p-t{
    padding-top:15px;
}

.p-t-x2{
    padding-top:30px;
}

.p-t-x3{
    padding-top:45px;
}

.p-t-x4{
    padding-top:60px;
}

.p-b-0{
    padding-bottom:0;
}

.p-b{
    padding-bottom:15px;
}

.p-b-x2{
    padding-bottom:30px;
}

.p-b-x3{
    padding-bottom:45px;
}

.p-b-x4{
    padding-bottom:60px;
}

.no-radius{
    border-radius: 0;
}

.no-padding{
    padding:0 !important;
}

.no-margin{
    margin:0 !important;
}

.no-border{
    border:none !important;
    box-shadow:none !important;
    -webkit-box-shadow: none !important;
}

.no-button{
    background:none;
    border:none;
    padding:0;
    text-align:inherit;
    cursor: pointer;
    width:100%;
}

.wrapper-page{
    padding:20px 0;
    min-height: calc(100% - 100px);
}

.wrapper-menu{
    margin-top:120px;
}


.toast-message {
    font-size: 18px;
}

.no-underline
{
    text-decoration: none !important;
}


.square-pic-candidature{
    width:100%;
    margin:auto;
    padding-bottom:100%;
    background-size:cover;
    background-position:center center;
    background-color:#000000;
}

.square-pic-candidature-small{
    height:120px;
    width:120px;
      /*margin:0;
      padding:0;*/
    background-size: cover;
    background-position: center center;
    background-color:#000000;
}




.circle-pic-candidature{
    width:100%;
    margin:auto;
    padding-bottom:100%;
    background-size:cover;
    background-position:center center;
    border-radius: 100%;
    background-color:#000000;
}


.sticker-name{
    background-color:rgba(255,255,255,0.8);
    position:absolute;
    padding:20px 40px 10px 10px;
    width:100%;
}

@font-face {
    font-family: 'myriad';
    font-style: normal;
    src: url('../fonts/Myriad.eot');
    src: local('myriad'), url('../fonts/Myriad.eot') format('embedded-opentype'), url('../fonts/Myriad.woff') format('woff');
}
.myriad {
    font-family: 'myriad' !important;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
li,
a {
    font-family: 'myriad' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.topmenu {
  background-color: #f2e732;
}

.navbar-right {
  font-weight: bold;

}

.navbar-right a {
  color: black;
}

#logo {
  padding-top: 7px;
}

footer {
  background-color: #222;
  /*position: absolute;*/
  width: 100%;
  /*bottom: 0;*/
  height: 50px;
  color: #ccc;
}

footer a, footer a:hover, footer a:visited {
  color: #f2e732;
}

button.btn-primary,button.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn.focus, .btn:focus {
  background-color: white;
  border-color: black;
  color: black;
  font-size: 1.2em;
  transition: all 0.4s;
}

button.btn-primary:hover, .btn:hover {
  background-color: #f2e732;
  color: black;
}

.form-control:focus {
    border-color: #f2e732;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(242, 231, 50, 0.6);
}

.button.btn-primary, button.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn.focus, .btn:focus, .btn.active, .btn:active{
    border-color: black;
    box-shadow: none;
    outline:5px auto #f2e732;
}

.engagements-a span.cr {
  top:5px;
}


h2, h3 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.publicinfo {
  border-color: #05a60d;
  border-width: 2px;
}

.table.updatableContent .checkbox-inline {
  margin-top: 5px;
}

div.scrollable {
  max-width: 400px;
  max-height: 120px;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-size: 16px;
}

.blocedit_fiche.online{
    display:block;
    border:none;
}
.blocedit_fiche.offline{
    display:none;
    border:none;
}