{% extends "visitor/base.html.twig" %}
<div class="wrapper-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 markdown jsEditCmsBlock" data-block-ref="homeadmin">
                {{ CMS.homeadmin }}
            </div>
        </div>
    </div>
</div>