<p>Bonjour,</p>

<p>Nous avons bien reçu votre candidature. Celle-ci sera accessible en ligne dès sa modération par notre équipe.</p>

<p><b>Tant que celle-ci n'a pas été validée</b>, vous pouvez modifier votre candidature à l'adresse suivante :</p>
<p><a href="{{ ConfigService.get("urlSite") }}/candidature/form.html?id={{ candidature.id }}&key={{ candidature.key_edit }}">Edition</a></p>