{% extends "visitor/base.html.twig" %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <form action="/home/connexion.json" id="formconnexion" method="post" autocomplete="off" data-ajax="true" >
                        <h1>Connexion à l'interface d'administration</h1>
                        <p>Seuls les administrateurs ont un identifiant et un mot de passe, pas les candidats.</p>
                        <p><strong>Si vous souhaitez modifier votre candidature</strong>, vous pouvez <a href="/candidature/ask-edit-link.html">vous faire renvoyer votre lien d'édition</a>.</p>
                        <hr />
                        <div class="form-group">
                            <label for="login" class="control-label">Nom d'utilisateur *</label>
                            <input type="text" class="form-control" id="login" name="login"
                                   placeholder="Nom d'utilisateur">
                        </div>
                        <div class="form-group">
                            <label for="pass" class="control-label">Mot de passe : *</label>
                            <input type="password" class="form-control" id="pass" name="pass"
                                   placeholder="Mot de passe">
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
