{% extends "visitor/base.html.twig" %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h1>Mentions légales</h1>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-3 m-t-x4">
                <h3>Conception</h3>
                    <p>Ce site Web a été développé bénévolement par des personnes qui pensent qu'une autre méthode de vote des lois est possible. Ils œuvrent  pour que la méthode #MAVOIX se concrétise et dispose de député·e·s à l'Assemblée nationale.</p>
                    <p>Le code source est disponible <a href="https://github.com/mavoix/candidature">sur Github</a>.</p>
                <h3>Hébergement</h3>
                <p>Ce site Web est hébergé en France sur un serveur entretenu par <a href="https://www.soyoustart.com/fr/">So you start</a>.</p>
                <h3>Données personnelles</h3>
                <p>Ce site Web n'intègre aucun système de mesure d'audience de type Google Analytics ou Piwik.</p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
