{% extends "visitor/base.html.twig" %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
                    <h1>Mentions légales</h1>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-3 m-t-x4">
                <h3>Conception</h3>
                    <p>Ce site Web a été développé bénévolement par des personnes qui pensent qu'une autre méthode de vote des lois est possible. Ils œuvrent  pour que la méthode #MAVOIX se concrétise et dispose de député·e·s à l'Assemblée nationale.</p>
                    <p>Le code source est disponible sous licence Unlicense <a href="https://github.com/mavoix/candidature">sur Github</a>.</p>
                <h3>Hébergement</h3>
                <p>Ce site Web est hébergé en France sur un serveur entretenu par <a href="https://www.soyoustart.com/fr/">So you start</a>.</p>
                <h3>Données personnelles</h3>
                <p>Ce site ainsi que la base de données qu'il utilise sont administrés par <a href="https://twitter.com/col1m">Colin Maudry</a>, au nom du collectif citoyen <a href="https://www.mavoix.info">#MAVOIX</a>.</p>

                <p>Les données collectées servent exclusivement à la bonne marche de l'organisation du tirage au sort #MAVOIX et de la campagne électorale.</p>
                <p>Ces données ne seront transmises qu'à un nombre de personnes limité et uniquement dans le but de valider les candidatures, d'organiser le tirage au sort et de faire campagne.</p>
                <p> Une fois passé le second tour des élections législatives 2017, soit dans la semaine du 12 au 18 juin 2017, la base de données ainsi que ses sauvegardes seront supprimées. Les fichiers collectés (photos, copies de documents d'identité, extraits de casier judiciaire B3) seront également supprimés, au même moment.</p>
                <p>Ce site Web n'intègre aucun système de mesure d'audience de type Google Analytics ou Piwik.</p>
                <p>Le site candidature.mavoix.info est déclaré sous le numéro 2039876 auprès de la Commission Nationale Informatique et Libertés (CNIL) en application de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
                <p>Chaque internaute ayant déposé des informations nominatives le concernant sur le site dispose des droits d'opposition (article 38 de la loi), d'accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) de ces données. Ainsi, il peut exiger que soient rectifier, compléter, clarifier et mettre à jour les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte ou l'utilisation, la communication ou la conservation est interdite, en suivant le lien d'édition de ses informations qui lui est transmis par email lorsqu'il valide le formulaire.</p>
                <p>Chaque internaute peut exercer ces droits en écrivant à mavoixjuin2017@gmail.com.</p>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
